.post {
    background: #fff;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: trastion 100,s ease-in-out;
  }
  
  .post:hover{
    transform: scale(1.05);
  }
  
  
  .post-content {
    padding: 10px;
  }
  
  .post img {
    max-width: 100%;
  }